@mixin keyframes($name){
    @-webkit-keyframes $name {
        @content;
    }
    @-moz-keyframes $name {
        @content;
    }
    @keyframes $name {
        @content;
    }
}

@mixin animation($name, $duration, $timing, $delay, $count, $direction: null) {
    $prefixes: ("-webkit-", "-moz-", null);
    @each $prefix in $prefixes {
        #{$prefix}#{animation}: $name $duration $timing $delay $count $direction;
    }
}

@mixin sprite-keyframes($anim-name, $h, $n) {
    @include keyframes($anim-name) {
        @for $i from 0 through $n {
            #{(100% / $n * $i)} {
                background-position: 0 (- $h / $n * $i);
            }
        }
    }
}

@mixin backgroundBlockRetina($url,$textIndent: false,$center: true) {
    $width: ceil(image-width($url) / 2);
    $height: ceil(image-height($url) / 2);

    @if $center {
        margin: 0 auto;
    }

    @if $textIndent {
        @include textIndent();
    }

    display: block;
    background: image-url($url);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: $width $height;
    width: $width;
    height: $height;
}

@mixin backgroundRetina($url,$option) {
    $width: ceil(image-width($url) / 2);
    $height: ceil(image-height($url) / 2);

    background: image-url($url) #{$option};
    background-size: $width $height;
}

@mixin backgroundButton($url) {
    $width: image-width($url) / 2;
    $height: ceil(image-height($url) / 2);

    @include textIndent();
    width: $width;
    height: $height;

    a {
        display: block;
        @include textIndent();
        background: image-url($url);
        background-repeat: no-repeat;
        background-position: center top;
        width: $width;
        height: $height;
    }

    a.tap,
    a:hover {
        background-position: center bottom;
    }
}
